/*
Theme Name: Clarke
Theme URI: https://pressbooks.com/themes/pressbooks-clarke
Description: Named after Arthur C. Clarke, this is a simple book theme, with some light modern touches. Good for fiction and non-fiction. Body font is Tinos; headers Lato.
Tags: Academic, Nonfiction, Textbook
Author: Pressbooks (Book Oven Inc.)
Author URI: https://pressbooks.com
Copyright: 2011-2022 Pressbooks (Book Oven Inc. <code@pressbooks.com>
Version: 2.3.4
License: GPL v3 or later
Template: pressbooks-book
GitHub Theme URI: pressbooks/pressbooks-clarke
*/

/* This doesn't do anything. */
